<!DOCTYPE html>
<html>
<head>
  <title>Blockchain history table</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Messages</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ data }}</td>
        </tr>
    </tbody>
    </table>
  </div>

  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
