<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 offset-md-3">
        <form method="post" action="{% url 'create_student_account' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" />
          </div>

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-4">Sign up</button>
        </form>

        {% if success_message %}
         <p>{{ success_message }}</p>
        {% endif %}

      </div>
    </div>
  </div>

  <!-- Include Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
