<!DOCTYPE html>
<html>
<head>
  <title>Grades table</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Grade</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <!-- Display other fields as needed -->
            </tr>
        {% endfor %}
    </tbody>
    </table>
      <div>
        <a href="{% url 'welcome_students' %}">Go to the main menu</a>
      </div>
  </div>



  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
