<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: pearl;">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 offset-md-3">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <!-- Email input -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" />
          </div>

          <!-- Password input -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
          </div>

          <select name="dropdown">
            <option value="Students">Student</option>
            <option value="Professors">Professor</option>
            <option value="Education_entities">Education_entities</option>
          </select>


          <button type="submit" class="btn btn-primary btn-block mt-4">Sign in</button>
        </form>

        <div>
          <a href="{% url 'create_student_account' %}">Create student account</a>
        </div>

        <div>
          <a href="{% url 'check_diploma_code' %}">Check diploma code</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
