<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    html,
    body {
      height: 100%;
    }

    .centered-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  </style>
</head>
<body>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 offset-md-3">
        <a href="{% url 'new_grade' %}">
          <button class="btn btn-primary">New grade</button>
        </a>
        <div>
          <a href="{% url 'login' %}">Log Out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
